<div class="title">
  <h1 class="text-center">コメント</h1>
</div>

<div>
  <%= render 'comments/new', comment: @comment %>
</div>

<ul class="media-list">
  <% @comments.each do |comment| %>
    <% user = comment.user %>
    <li class="media">
      <img class="mr-3" src="<%= gravatar_url(user, options = { size: 70 }) %>" alt="">
      <div class="media-body">
        <div>
         <%= link_to user.name, user_path(user), class: 'badge badge-secondary' %> <span class="text-muted">さんのコメント <%= comment.created_at %> </span>
        </div>
        <div>
          <p><%= comment.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate @comments %>
</ul>