<div class="title">
  <h1 class="text-center">質問</h1>
</div>

<div class="row">
  <div class="media col-md-6 offset-md-3">
    <img class="mr-3 rounded" src="<%= gravatar_url(@post.user, options = { size: 70 }) %>" alt="">
    <div class="media-body">
      <div>
        <%= link_to @post.user.name, user_path(@post.user), class: 'badge badge-secondary' %><span class="text-muted">さんの質問 <%= @post.created_at %> </span>
      </div>
      <div>
        <p><%= @post.title %> </p>
      </div>
      <div>
        <p><%= @post.content %></p>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><%= render 'likes/like_button', user: @user %></li>
        <li class="list-inline-item">
          <% if current_user == @post.user %>
            <%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-outline-danger btn-sm' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <%= render 'comments/new', post: @post, comment: @comment %>
</div>
<div class="row title">
  <div class="media col-md-6 offset-md-3">
    <%= render 'comments/comments', comments: @comments %>
  </div>
</div>